
@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(300px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@mixin slideAnimation {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}


@mixin about{
    width: 90%;
    margin: 80px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.content{
    overflow-x: hidden;
    text-align: center;
    margin: 140px 0 70px 0;
}

.aboutIntro {
    font-weight: 700;
    font-family: 'Josefin Sans';
    text-align: left;
    border: 3px solid rgba(10, 55, 114, 0.086);
    color: rgb(180, 240, 255);
    animation-name: slideInRight;
    @include slideAnimation();
    width: 70%;
    margin: auto;
    padding: 30px;
    border-radius: 30px;
    line-height: 1.5;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.113);
}

.about1 {
    animation-name: slideInLeft;
    @include slideAnimation();
    @include about();
    .aboutImg{
        float: left;
        margin-right: 25px;
    }
    .aboutHeader {
        margin-left: 400px
    }
    .aboutDescription {
        text-align: left;
    }
}

.about2 {
    @include about();
    animation-name: slideInRight;
    @include slideAnimation();
    flex-direction: row-reverse;
    .aboutImg{
        float: right;
        margin-left: 25px;
    }
    .aboutHeader {
        margin-right: 400px
    }
    .aboutDescription {
        text-align: left;
    }
}

.aboutImg {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    object-fit: cover;
    box-shadow: 5px 12px 52px -5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 5px 12px 52px -5px rgba(0,0,0,0.6);
    -moz-box-shadow: 5px 12px 52px -5px rgba(0,0,0,0.6);
}

.aboutInfo{
    flex: 1;
}

.aboutHeader {
    flex-basis: 100%;
    color: white;
    font-size: 48px;
}

.aboutDescription{
    font-weight: 700;
    font-family: 'Josefin Sans';
    line-height: 1.4;
    white-space: pre-line;
    word-spacing: 1px;
    font-size: 26px;
    // color: rgb(0, 0, 0);
    color: rgb(180, 240, 255);
}

.aboutDescription::selection {
    color: rgb(247, 215, 170);
}

@media (max-width: 900px) {
    .about1 {
        .aboutHeader {
            margin-left: 0;
        }
        .aboutImg {
            margin: auto;
            margin-bottom: 30px;
            display: block;
            float: none;
        }
    }
    
    .about2 {
        .aboutHeader {
            margin-right: 0;
        }
        .aboutImg {
            margin: auto;
            float: none;
            display: block;
            margin-bottom: 30px;
        }
    }
}