@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@mixin slideAnimation {
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
}

.content {
    overflow-x: hidden;
    overflow-y: hidden;
    animation-name: slideUp;
    @include slideAnimation();
    margin-top: 100px;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgDiv {
    position: relative;
    svg{
        width: 25%;
        fill: white;
        z-index: 2;
        position: absolute;
        right: 2%;
        top: 2%;
    }
}

.homeImg {
    border: 10px solid  rgb(255, 255, 255);
    background-image: linear-gradient(#48ec5850, #019cad76);
    filter: brightness(90%);
    width: 200px;
    padding: 10px;
    border-radius: 50%;      
    margin-right: 20px;
}



.header {
    animation-name: slideUp;
    @include slideAnimation();
    color: white;
    font-size: 50px;
    font-family: 'Righteous';
}

.summary{
    animation-name: slideUp;
    @include slideAnimation();
    animation-delay: 0.2s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.signature{
    font-size: 36px !important;
}

.summaryInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.summary p{
    margin: 30px 0 30px 0;
    text-align: center;
    color: rgb(180, 240, 255);
    font-size: 28px;
}

.logos {
    height: 80px;
    margin-right: 0 !important;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 5px;
    // background-color: rgba(219, 244, 253, 0.873);
    background-color: rgba(6, 60, 80, 0.774);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    svg {

        flex-basis: calc(20% - 10px);
        fill: rgb(23, 21, 44);
        transition: 0.3s;
        margin: 0 auto 0 auto;
        width: 30px !important;
        height: 30px;
    }
    svg:hover {
        opacity: 1;
    }
}

.mysqlLogo {
    padding: 0;
    margin: 0;
    transform-origin: 0px 0px;
    background-color: white;
    // position: relative;
    width: 30px !important;
    height: 30px;
}


@media (max-width: 970px) {
    .header{
        text-align: center;
    }
    .summary{
        justify-content: center;
        flex-direction: column;
    }

.imgDiv{
    width: 350px;
}

    .homeImg {
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .signature{
        font-size: 32px !important;
    }
}