@import url('https://fonts.googleapis.com/css2?family=Montez&family=Righteous&family=Yellowtail&display=swap');


.topBar{
    background-color: rgba(22, 26, 26, 0.49);
    backdrop-filter: blur(10px);
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
}


.topBar a {
    padding: 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.homeButton {
    // font-size: 48px;
    // font-family: 'Montez';
    font-size: 38px;
    font-family: 'Righteous';
    // font-size: 45px;
    // font-family: 'Yellowtail';
}

.navButtons {
    font-size: 21px;
    font-family: 'Righteous';

    // font-family: sans-serif;
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}