@import url('https://fonts.googleapis.com/css2?family=Montez&family=Righteous&family=Yellowtail&display=swap');


.topBar{
    background-color: rgba(22, 26, 26, 0.49);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    z-index: 2;
}



.show {
    top: 0;
}

.hide {
    top: -100px;
}

.topBar a {
    padding: 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.homeButton {
    // font-size: 48px;
    // font-family: 'Montez';
    font-size: 38px;
    font-family: 'Righteous';
    // font-size: 45px;
    // font-family: 'Yellowtail';
}

.navButtons {
    font-size: 21px;
    font-family: 'Righteous';
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}

.navButtons a {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 18px 0 18px;
    border: 0px solid white;
    transition: 0.1s;
}



.underLine{
    border-radius: 1px;
    transition: 0.3s;
    margin-top: 2px;
    background-color: rgb(90, 249, 114);
    height: 2px;
    width: 0%;
}

.navButtons a:hover {
    .underLine {
        background-color: white;
        width: 100%;
    }
}

.currPage {
    background-color: white;
    height: 2px;
    width: 100%;
}